*{
    box-sizing: border-box;
}
img,picture{
    width: 100%;
    display: block;
}
body , ul , a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
header ul{
    display: flex;
    gap: 20px;
}
header h1 {
    font-family: Verdana;
    font-size: 35px;
    font-weight: 700;
    color: crimson;
}
header ul li a {
    color: rgb(66, 63, 63);
    font-family: Helvetica;
    font-weight: bold;
}
.contain h3 {
    color: orangered;
    font-size: 21px;
    font-weight: lighter;
    font-family: Arial;
    text-transform: uppercase;
}
.contain h1 {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 3em;
}
.contain p {
    color: rgb(241, 235, 224);
    font-size: small;
    font-family: Arial;
    line-height: 1.8em;
}
.contain{
    background: rgb(57, 56, 56);
    padding: 50px 100px;
}
.bg-items img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.e-h2 h2 {
    color: #998168;
    font-family: system-ui;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
}
.bg-contain {
    background-color: #b1b8a9;
    padding: 30px;
    width: fit-content;
}

.bg-items h5{
    color: white;
    border-top: 4px solid #deb96a;
    padding-top: 10px;
    width: fit-content;
}
.bg-items p{
    font-family: system-ui;
    font-size: 15px;
    font-weight: 400;
    color: #968b72;
    background: white;
    padding: 10px;
    max-width: 250px;
}
.flex-cont{
    display: flex;
    gap: 10px;
}
.enrol-sect {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
}
.w-items p{
    color: blue;
}

.flex-cont{
    display: flex;
    gap: 10px;
}
.enrol-{
    background: rgba(186, 187, 191, 0.343);
    padding: 80px 0px;
}

.container-item h4 {
    color: #E67D02;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}
.container-item h3{
    font-size: 45px;
    margin: 0;
    font-weight: 500;
    color: #0A3765;
    font-family: -apple-system;
}
.headline p{
    color: #0A3765;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    /* line-height: 30px; */
}
.container-item p{
    color: #6A6A6A;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    max-width: 34em;
}
.container-item{
    margin-left: 70px;
    padding: 10px 0;
}
.container-flex img{
    margin-right: 50px;
    width: 500px;
    height: 546px;
}
.myspan{
    /* margin: 20px 0;
    border: 3px solid #E67D02; */
}
.container-flex{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.btnwrap{
    border: 2px solid #C9C9C9;
    border-radius: 1px;
    text-align: center;
    background-color: #61CE7000;
    font-family: "Montserrat", Sans-serif;
    padding: 20px 25px;
    width: fit-content;
}
.container{
    padding: 100px 50px;
}
.img-item img{
    flex: 1;
    width: 308px;
    height: 205px;
    object-fit: cover;
}
/* .img-item{
    max-width: 100%;
    padding: 0 15px;
    margin-top: 50px;
} */
.img-content{
    text-align: center;
}
.img-content h2{
    margin-top: 5px;
    color: #0A3765;
    font-family: -apple-system;
    font-size: 45px;
    font-weight: 500;
}
.img-content h3{
    color: #E67D02;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}
.news-item h2{
    color: #FFFFFF;
    font-family: -apple-system;
    font-size: 37px;
    font-weight: 500;
    text-align: center;
}
.news-form input{
    width: 70%;
    padding: 18px;
}
.news-form button{
    width: 30%;
    background-color: #1983D1;
    color: #ffffff;
    padding: 18px;
}
.news-item{
    background-color: #134C93;
    padding: 70px 300px 65px 300px;
}
.news-cont{
    padding: 120px 0;
    margin: 0 61px;
}
.img-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    gap:5px;
}
.temple-h3{
    margin-top: 1.6em;
    padding: 0 30px;
}
.temple-h3 h3{
    color: #0A3765;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3em;
}
.date{
    padding: 15px 30px;
    margin-bottom: 0;
    border-top: 1px solid #eaeaea;
    width: 20em;
}
.span-date{
    line-height: 1.3em;
    font-size: 12px;
    color: #0A376596;
    font-weight: 400;
    font-family: Arial;
}
.div-fimage{
    background-color: #deb96a;
    border-radius: 3px;
}
.div-fimage img{
    border-radius: 3px;
    width: -webkit-fill-available;
    height: 203px;
    object-fit: cover;
}
.flex-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.blog-item{
    text-align: center;
    margin-bottom: 3em;
}
.blog-item h3{
    color: #0A3765;
    font-family: Verdana;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 2px;
}
.blog-item p{
    color: #0A3765;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
}
.btn-wrap{
    text-align: center;
    margin-top: 25px;
}
.btn {
    display: inline-block;
    line-height: 1;
    background-color: #69727d;
    font-size: 15px;
    font-family: monospace;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
    background-color: black;
    text-align: center;
}
.contain-blog{
    margin: 0 5em;
    padding: 150px 0;
}
.section-blog{
    background-color: #EEEFF3;
}
.say-h3 h3{
    color: #E67D02;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.6px;
}
.say-h3 h2{
    color: #0A3765;
    font-family: monospace;
    font-size: 45px;
    font-weight: 500;
    margin: 0;
}
.say-h3{
    text-align: center;
    margin-bottom: 1.5em;
}
.num{
    color: #0A3765;
    font-family: "Montserrat", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
.num-l{
    color: #0A3765;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
}
.count-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
    padding: 10px 0;
}
.sect-count{
    padding: 150px 0;
}
.btn-visit a {
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color: #1983D1;
    border-radius: 0px 0px 0px 0px;
    padding: 20px 30px;
}
.h2-schedule h2{
    color: #FFFFFF;
    font-family: "Amaline Trial", Sans-serif;
    font-size: 35px;
    font-weight: 500;
}
.flex-schedule{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.schedule {
    background-color: #134C93;
    padding: 1.5em 0px;
}
.sch-class h2{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.sch-class p{
    color: #C7C7C7;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.sch-class a{
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
}
.pad{
    padding-top: 10px;
}
.flex-footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #0B4789;
    padding: 5px;
    margin: 0 50px;
}
.des-social > p{
    color: #C7C7C7;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.f-sect{
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #06284d;
}